<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                    <table>
                    <thead>
                    <tr class="table100-head">
                    <th class="column9">Account Number</th>
                    <th class="column9">Balance</th>
                    </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <th class="column9">10101</th>
                            <th class="column9">$1000</th>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    <br>
                    <br>
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">Transaction Date</th>
                                    <th class="column2">Transaction Type</th>
                                    <th class="column3">Transaction Method</th>
                                    <th class="column4">Your Account</th>
                                    <th class="column5">Beneficiery Account</th>
                                    <th class="column6">Amount</th>
                                    <th class="column7">Opening balance</th>
                                    <th class="column8">Closing Balance</th>
                                    <th class="column9">status</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td class="column1">01/01/2020</td>
                                        <td class="column2">Credit</td>
                                        <td class="column3">NEFT</td>
                                        <td class="column4">10101</td>
                                        <td class="column5">10102</td>
                                        <td class="column6">$999.00</td>
                                        <td class="column7">$1000.00</td>
                                        <td class="column8">$1999.00</td>
                                        <td class="column9">successful</td>
                                    </tr>
                                    <tr>
                                        <td class="column1">01/01/2020</td>
                                        <td class="column2">Debit</td>
                                        <td class="column3">RTGS</td>
                                        <td class="column4">10101</td>
                                        <td class="column5">10102</td>
                                        <td class="column6">$999.00</td>
                                        <td class="column7">$1999.00</td>
                                        <td class="column8">$1000.00</td>
                                        <td class="column9">successful</td>
                                    </tr>
                                    <tr>
                                        <td class="column1">01/01/2020</td>
                                        <td class="column2">Credit</td>
                                        <td class="column3">NEFT</td>
                                        <td class="column4">10101</td>
                                        <td class="column5">10102</td>
                                        <td class="column6">$999.00</td>
                                        <td class="column7">$1000.00</td>
                                        <td class="column8">$1000.00</td>
                                        <td class="column9">Failed</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>
</html>
