h1{
    margin-bottom: 40px;
    color: black;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
    
}

table{
    border: 2px solid black;
    padding: 5px;
    margin-top: 5px;
    width: 40%;
    margin-bottom: 40px;

}

tr{
    height: 25px;
    
}

td{
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    font-weight: bold;
}

.del span{
    padding: 10px;

}


.del{
    font-weight: 700;
    border-radius: 200px;
}

.del:hover{
    background-color: red;
    color: white;
    transition: 5sec;
}

.add{
    margin: 25px;
    margin-left:0px ;
    justify-content: center;
    border-radius: 200px ;
    background-color:rgba(207, 204, 204, 0.404) ;
}

input{
    width: 40%;
    padding: 5px;

}

.add:hover{
    background-color: grey;
    transition: ease-in;
}

.add span{
    padding: 10px;
}