<table class="info">

    <tbody *ngFor="let employee of employees">
        <tr>
            <td>
                <span>Customer ID:</span><input type="text" [(ngModel)]="employee.customerId" [disabled]="!employee.isEditable" />
            </td>
        </tr>

        <tr>
            <td>
                <span>First Name:</span><input type="text" [(ngModel)]="employee.name" [disabled]="!employee.isEditable" placeholder="Name" />
            </td>
        </tr>
        <tr>    
            <td>
                <span>Last Name:</span><input type="text" [(ngModel)]="employee.lastName" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>   
            <td>
                <span>Middle Name:</span><input type="text" [(ngModel)]="employee.middleName" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Father's Name:</span><input type="text" [(ngModel)]="employee.fatherName" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Mobile Number</span><input type="text" [(ngModel)]="employee.mobileNumber" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>   
            <td>
                <span>Email ID:</span><input type="text" [(ngModel)]="employee.email" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Aadhar Number:</span><input type="text" [(ngModel)]="employee.aadharNo" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>   
            <td>
                <span>Date Of Birth:</span><input type="text" [(ngModel)]="employee.dateOfBirth" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Local Address:</span><input type="text" [(ngModel)]="employee.localAddressResi" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>    
            <td>
                <span>Region ID:</span><input type="text" [(ngModel)]="employee.regionIdResi" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Permanent Address:</span><input type="text" [(ngModel)]="employee.addressPerm" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>    
            <td>
                <span>RegionID Permanent Address:</span><input type="text" [(ngModel)]="employee.regionIdPerm" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Occupation:</span><input type="text" [(ngModel)]="employee.occupation" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>    
            <td>
                <span>Annual Income:</span><input type="text" [(ngModel)]="employee.annualIncome" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Debit Card Status:</span><input type="text" [(ngModel)]="employee.debitCardStatus" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Net Banking Status:</span><input type="text" [(ngModel)]="employee.netBankingStatus" [disabled]="!employee.isEditable" />
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="employee.isEditable=!employee.isEditable" *ngIf="!employee.isEditable">Edit</button>
                <button *ngIf="employee.isEditable" (click)="employee.isEditable=!employee.isEditable">Save</button>
            </td>
        </tr>
    </tbody>
</table>