<html>
<head>
<title>Customer Complaint Form</title>
</head>
<body>
<h2>Customer Complaint Form</h2>
<button type="button" ><a [routerLink]="['/complainStatusLink']">Click Here to Check Complaint Status</a></button>

<marquee scrollamount="5">
Fields marked with (*) are compulsary, Please Provide correct details. 
You will receive a response shortly by SMS or E-mail. 
&nbsp;To know the status of your request call on our  number 9473303032 with ticket number.
</marquee>

<form method="POST">
<table  align ="center" cellpadding = "7" >

<!--------------------- Customer Type ------------------------------------------>
<tr>
<td>Customer Type*</td>
<td>
    <select name="CustomerType" class = "inputform" id="CustomerType">
        <option value="-1">Select</option>
        <option value="1">Retail</option>
        <option value="2">Corporate</option>
        </select>
</td>
</tr>
<!------------------------ Account Number --------------------------------------->
<tr>
<td>Account Number*</td>
<td><input type="text" class = "inputform" name="AccountNumber" maxlength="50"/>
</td>
</tr>
<!-------------------------- Name Of Complaint ------------------------------------->
<tr>
<td>Name of Complaint*</td>
<td><input type="text" name="nameofcomplaint" class = "inputform" maxlength="50"/></td>
</tr>
<!-------------------------- Branch Code ------------------------------------->
<tr>
<td>Branch Code(If Other than Home Branch)</td>
<td>
<input type="text" name="BranchCode" class = "inputform" maxlength="10"/>
</td>
</tr>
<!----------------------Mobile Number ------------------------------------->
<tr>
<td>Mobile Number*</td>
<td>
<input type="text" name="MobileNumber" class = "inputform" maxlength="10" />
</tr>

<!----------------------Email ------------------------------------->
<tr>
    <td>Email*</td>
    <td>
    <input type="email" name="Email" class = "inputform"/>
    </tr>
<!--------------------------Category Of Complaints----------------------------------->
<tr>
<td>Category Of Complaints*</td>
<td>
<select name="CategoryOfComplaints" class = "inputform" id="CategoryOfComplaints">
<option value="-1">Select</option>
<option value="1">ATM Related</option>
<option value="2">UPI Related</option>
<option value="3">General Banking</option>
<option value="4">Deposits</option>
<option value="5">Govt Schemes</option>
<option value="6">NRI Services</option>
</select>
</td>
</tr>
<!------------------------- Details ---------------------------------->
<tr>
<td>Please Give brief details of your complaint(Max 500 Chars)*<br /><br /><br /></td>
<td><textarea class = "inputform" name="Details" rows="5" cols="20"></textarea></td>
</tr>

<!------------------------- Captcha ---------------------------------->
<tr>
    <td>Captcha* <img src="/assets/RBSKW.png" alt="  " ></td>
    <td><input type="text" name="Captcha" class = "inputform"/></td>
    </tr>
<!----------------------- Submit and Reset ------------------------------->
</table>
<br>
<span>
<input  class="swd-button" type="submit" value="Submit" >
<input class="swd-button" type="reset" value="Reset">
</span>
</form>
</body>
</html>