<div class="main2">
        <div class="card">
                <h2 style="text-align:right;"> Change your Credentials</h2>

                <form #changePasswordForm='ngForm' style="float:right;">
                        <div class="container" style="text-align:center; border:2px solid black;
           border-radius: 10px;">
                                <label for="psw"><b>Set Login Password</b></label><br>
                                <input class="pswrd1" type="password" placeholder="Enter Password" id="psw" required ngModel><span class="show1">SHOW</span><br>

                                <label for="psw1"><b>Confirm Login Password</b></label><br>
                                <input class="pswrd2" type="password" placeholder="Enter Password" id="psw1"><span class="show2">SHOW</span><br>

                                <label for="tpsw"><b>Set Transaction Password</b></label><br>
                                <input class="pswrd3" type="password" placeholder="Enter Password" id="tpsw"><span class="show3">SHOW</span><br>

                                <label for="tpsw1"><b>Confirm Transaction Password</b></label><br>
                                <input  class="pswrd4" type="password" placeholder="Enter Password" id="tpsw1"><span class="show4">SHOW</span><br>


                                <span> <button type="reset" class="cancelbtn">Reset</button>
                                        <button type="submit"
                                                [disabled]="!changePasswordForm.valid">Change</button></span>
                        </div>

                </form>
        </div>
</div>