<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="main">
            <div class="card" style="height: 540px;">
                <h2 style="text-align:right;">Login to avail services!!</h2>
                <form #loginForm='ngForm' style="float:right;">

                    <div class="container" style="text-align:center; border:2px solid black;
                border-radius: 12px;width: 350px; padding-left: 20px;">
                        <!-- <div class="field"> -->
                        <label for="uname"><b>UserId</b></label><br>
                        <input type="text" placeholder="Enter Username" id="uname" required ngModel><br>

                        <label for="psw"><b>Password</b></label><br>
                        <input class="pswrd" type="password" placeholder="Enter Password" id="psw" required ngModel><span class="show">SHOW</span><br>

                        <button type="submit" [disabled]="!loginForm.valid"><a [routerLink]="['/userDashBoardLink']">Login</a></button><br>
                        <label>
                            <input type="checkbox" checked="checked" id="remember" required ngModel> Remember me
                        </label>

                        <div class="container" style="background-color:#f1f1f1;height:85px;width:80%">
                            <button type="reset" class="cancelbtn">Reset</button>
                            <span class="reg">New User?<a [routerLink]="['/registerLink']">Register</a></span>
                            <span class="psw">Forgot <a [routerLink]="['/forgetpasswordLink']">password?</a></span>
                            <span class="psw">Forgot <a [routerLink]="['/forgetUserIdLink']">User Id?</a></span>


                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>