<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div>
            <ul>
                <li><a class="active" href="#home">  <i class="material-icons">account_balance</i><br>Manage Accounts</a></li>
                <li><a href="#news"><i class="material-icons">fiber_new</i><br>Account Opening Requests</a></li>
                <li><a href="#about"><i class="material-icons">security</i><br>Manage Passwords</a></li>
                <li><a href="#contact"><i class="material-icons">import_export</i><br>Manage Transactions</a></li>
                <li><a [routerLink]="['/sessionTimeout']"><i class="material-icons">power_settings_new</i><br>LogOut</a></li>

                <li style="float:right; font-size:24px; color:white; font-weight: bolder;padding: 30px;">Admin Portal</li>
              </ul>
              <div class="container-username">
                  <span class="getDateTime">{{getDatetime}}</span><span class="userName">Hi, {{userName}}</span>
              </div>
        </div>
        <div class="mid-body">
            
        </div>
    </div>
</body>
</html>